<div class="box">
  <p>
    <label><%= 'external app name' %></label>
    <%= text_field_tag "settings[er_external_app_name]", Setting.plugin_external_relations["er_external_app_name"] %><br/>
  </p>
</div>
